<header class="navbar" id="navbar">
    <div class="c-navbar">
        <a href="#beranda" class="navbar-logo">
            <img src="assets/logo/logo-bia.webp" alt="Logo Bina Iman Toasebio">
            <div>
                <span><bold>Bina Iman Toasebio</bold></span>
            </div>
        </a>

        <nav class="navbar-menu" id="navbar-menu">
            <a href="index.html">Beranda</a>
            <a href="tentang.html">Tentang Kami</a>
            <a href="kegiatan.html">Kegiatan</a>
            <a href="#kontak">Kontak</a>
        </nav>

        <a href="/html/daftar.html" class="btn btn-primary navbar-cta">
            Daftarkan Anak
        </a>
    </div>
</header>